<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand ml-3">Angular Dashboard</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li> -->
      <!-- <li class="nav-item" *ngIf="showAdminBoard"> -->
      <li class="nav-item ml-4">
        <a href="/admins" class="nav-link" routerLink="admins"
          >Angular Admins</a
        >
      </li>
      <li class="nav-item ml-4">
        <a href="/users" class="nav-link" *ngIf="isLoggedIn" routerLink="users"
          >Flutter Clients</a
        >
      </li>
      <li class="nav-item ml-4">
        <a href="/dataset " class="nav-link" routerLink="dataset">Datasets</a>
      </li>
      <li class="nav-item ml-4">
        <a
          href="/data_visualization"
          class="nav-link"
          routerLink="data_visualization"
          >Clustred Data</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item mr-3 mt-2">
        <a href="/profile" class="nav-link" routerLink="profile">
          <img
            src="https://avatars.dicebear.com/api/human/{{
              username
            }}.svg?background=%230000ff"
            alt=""
          />
        </a>
      </li>
      <li class="nav-item mt-4 mr-3">
        <a href="/profile" routerLink="profile"> {{ username }}</a>
      </li>
      <li class="nav-item mt-4 mr-4">
        <a href (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet> </router-outlet>
  </div>
</div>
