<div class="container">
  <header class="jumbotron">
   <h1>Mall Costumers Dataset</h1>
   <table>
    <thead>
      <tr>
        <th>#ID</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Annual Income</th>
        <th>Spending Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let costumer of costumers">
        <td>#{{ costumer.CustomerID}}</td>
        <td>{{ costumer.Gender }}</td>
        <td>{{ costumer.Age }}</td>
        <td>{{ costumer.Annual_income }}</td>
        <td><strong>{{ costumer.Spending_score }}</strong></td>
      </tr>
    </tbody>
  </table>
  </header>
</div>
